@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

.container {
    background-color: #160d1680;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 550px;
    margin-top: 20px;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;


}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.item .logologin {
    cursor: pointer;
    float: left;
    margin-top: -6.5em;
    margin-left: -3em;
    width: 300px;
    height: 300px;

}

.text-item h2 {
    margin-left: -0.4em;
    font-size: 40px;
    margin-top: -10em;
    line-height: 1;
}

.text-item .plogo {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    color: #fff;
    margin: 20px 0;
    width: 70%;
}

.social-icon {
    margin-left: -1.6em;
}

#social-icona {
    color: #fff;
}

.social-icon a {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 15px;
    transition: .5s ease;
}

.social-icon a:hover {
    transform: scale(1.2);
}

.container .login-section {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 60%);
    height: 100%;
    color: #fff;
}

.register-link {
    margin-left: 10px;
}

.login-link {
    margin-left: 10px;
}

.login-section .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;

}

.login-section .form-box.register {
    transform: translateX(70em);
    transition: transform .3s ease;
    transition-delay: 0s;
}

.login-section.active .form-box.register {
    transform: translateX(0px);
    transition-delay: .4s;
}

.login-section .form-box.login {
    transform: translateX(0px);
    transition: transform .3s ease;
    transition-delay: 0.4s;
}

.login-section.active .form-box.login {
    transform: translateX(70em);
    transition-delay: 0s;
}



.login-section .form-box h2 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.form-box .input-box {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 15px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;


}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
    transition: .5s ease;

}

#icon-eye,
#icon-eyer,
#icon-eyer2 {
    cursor: pointer;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 1px;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input_login-register {
    color: #fff;
}

.remember-password {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-password label input {
    accent-color: #fff;
    margin-right: 3px;

}

.remember-password .aRemember {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.remember-password a:hover {
    text-decoration: underline;
}

.btn {
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #f72d7a;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);

}

.create-account .plogin {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    color: #fff;
}

.create-account .plogin a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.create-account p a:hover {
    text-decoration: underline;
}

@media (max-width:825px){
    .item{
        opacity: 0;
    }
    .container .login-section {
        position: relative;
        margin:40px auto;
    }
    .login-section .form-box {
        width: 100%;
    }

}