
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .login {
    width: 500px;
  }
  form {
    width: 230px;
    margin: 100px auto;
  }
  form h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
  }
  p {
    text-align: center;
  }
  form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
  }
  input {
    width: 100%;
    padding: 8px;
    margin: 8px;
    outline: none;
    border: none;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
  }
  button {
    width: 250px;
    margin: 8px;
    padding: 8px;
    background: rgb(255, 0, 8);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
  }
  p a {
    text-decoration: none;
    color: black;
  }
  .pic {
    width: 75%;
    background: rgb(255, 0, 0);
  }
  .pic img {
      width: 400px;
      filter: sepia(1);
  }
  img:hover {
    padding: 3px;
    cursor: pointer;
  }
  