*{
    margin:0;
    padding: 0;
}

/*Estructura principal*/
body{
    background-color: #110a11;
}
.enlace{
    position: absolute;
    float: left;
    margin-top: -6em;

}
.logo{
    float: left;
    width: 200px;
    height: 200px;
}
/*Fin estructura principal*/


/*Titulos principales*/
.titulo{
    padding-top: 110px;
    padding-left: 0.7em;
    font-size: 7;
    color: antiquewhite;
}
.titulo2{
    font-size: 7;
    color: rgb(246, 238, 248);
}
.titulo3{
    margin-left: 1em;
    font-size: 7;
    color: rgb(246, 238, 248);
}
/*Fin titulos principales*/

/*Scroll bar*/

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #bf7ecf;
    border-radius: 5px;
}

/*Sección textos*/
p{
    text-align:justify;
    font-size: 30px;
    color:  rgb(255, 255, 255);

}
.contenido{
    width: 79%;
    margin: auto;

}

h4{
    font-size: 30px;
    color: rgb(245, 226, 247);
}
a{
    font-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(253, 227, 250);
}
a:hover{
    color: #30002c;
}
/*Fin textos*/


/*Apartado de cabeceras*/
.cabecera{
    background-image: url(https://media.giphy.com/media/6705G9I9sUcNCaJF10/giphy.gif);
    background-size: cover;
    width: 100%;
    height: 700px;
}
.cabecera2{
    width: 79%;
    height: 100%;
    margin: auto;
    background-color: #160d16;
    border-radius: 2px;
}

header{
    background-color: #070007;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 98%;
}
/*Fin apartado de cabeceras*/


/*Inicio section slider*/
.slider-anime{
    padding: 0px 0;
}
.containerS{
    width: 90%;
    min-height: 55vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 30px;
}
.slider-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}
.slider-body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #31113181;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    border-radius: 5px;
}
.slider-body--show{
    opacity: 1;
    pointer-events: unset;
}
.slider-text{
    max-width: 600px;
}
.subtitle{
    color: white;
    padding-left: 0.3em;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.slider-review{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    padding-left: 0.7em;
}
.slider-img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding-top: 1px;
}
#slider-arrow1, #slider-arrow2{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
#slider-arrow2{
    justify-self: end;
}
/*Fin sección slider*/


/*Menú principal*/
.navegacion{
    width: 100%;
    margin: 30px auto;
}
.navmenu{
    float: right;
}
.navmenu .menu{
    list-style: none;
    overflow: hidden;
    margin-right: 2em;
    margin-top: -1em;
}
.menu > li{
    float: left;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: "open sans";
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    border-radius:5px;
    background-color: rgb(60, 14, 87) ;
    transition: all .3s;
}
/*Fin menú principal*/

/*submenu*/
.submenu ul{
    margin-top: -1em;
}

.submenu{
    position: absolute;
    border-radius:5px;
    background: #333333 ;
    width: 150px;
    visibility: hidden;
    opacity: 80%;
    transition: opacity 1.5s;
    list-style: none;
    transition: .1s;
}

.submenu li a{
    display: block;
    border-radius:5px;
    padding: 12px;
    color: rgb(255, 228, 228);
    font-family: "open sans";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/*Boton resposive menú*/
.checkbtn{
    font-size: 30px;
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    display: none;
    color: white;
    cursor: pointer;
}
#check{
    display:none;
}
/*Fin boton resposive menú*/
/*FIn submenu*/


/*Inicio sección boton de modo oscuro/claro */
.button-switch{
    padding:8px ;
}
.switchLight{
    background-color: #ad74b3c2;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;

}
.switchLight span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #d7c4da;
    background: none;
}
.switchLight::after{
    display: block;
    background: #ffffff;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgb(0, 0, 0, .5);
    content: "";
}
.switchLight.active{
    background: #30002cc2;
}
.switchLight.active::after{
    left: 0;
    right: unset; 
}
/*Fin sección boton de modo oscuro/claro */


/*Inicio Cards*/
.contenedorA{
    width: 100%;
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;   
}
.card1{
    width: 290px;
    height: 430px;
    border-radius: 9px;
    box-shadow: 0 2px, 2px rgb(0, 0, 0);
    overflow: hidden;
    margin: 32px;
    text-align: center;
    transition: 0.25s;
}
.card1:hover{
    transform: translateY(-15px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411) ;
    background-color: #330f30bd;
}

.imgCard{
    width: 100%;
    height: 50%;
}
.pCard{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    max-width: 95%;
    padding-left: 0.5rem;
    text-align:justify;
}
.card1 a:hover{
    color: #723b6c;
}
/*Fin cards*/


/*Pie de pagina...*/
.pie_de_pagina{
    width: 100%;
    background-color: #1c0a1d;
}
.pie_de_pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    height: 200px;
}
.pie_de_pagina .grupo-1 .box figure{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie_de_pagina .grupo-1 .box figure img{
    width: 300px;
}
.pie_de_pagina .grupo-1 h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 1.3em;
}
.pie_de_pagina .grupo-1 p{
    color: #efefefef;
    font-size: 22px;
    padding-left: 1.3em;
    margin-bottom: 10px;
}
.pie_de_pagina .grupo-1 .red-social{
    padding-left: 1.6em;
}
.pie_de_pagina .grupo-1 .red-social a{
    display: inline-block;
    border-radius: 2px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #962e8d6e;
    text-align: center;
}
.pie_de_pagina .grupo-2 {
    background-color: #130014;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}

/*Fin seccion pie de pagina*/


/*Inicio LiGHT Mode :3*/
body.lightmode{
    background-color: #f3dafac2;
}
body.lightmode .titulo2{
    color: #1f011f;
}
body.lightmode .titulo3{
    color: #1f011f;
}
body.lightmode h3{
    color: #070007;
}
body.lightmode h4{
    color: #070007;
}
body.lightmode a{
    color: #070007;
}
body.lightmode a:hover{
    color: #f8dffa;
}
body.lightmode p{
    color: #130014ce;
}
body.lightmode header{
    background-color: #e5c3ec;
}
body.lightmode li a.active, li a:hover{
    background-color: #ad74b3;
}
body.lightmode .submenu{
    background-color: #d2b4d4;
}
body.lightmode .card1:hover{
    background-color: #b388b8af;
}
body.lightmode footer{
    background-color:#a384aa3d
}
body.lightmode .pie_de_pagina .grupo-1 .box h2{
    color: #130014;
}
body.lightmode .pie_de_pagina .grupo-1 .box p{
    color: #30002c;
}
body.lightmode .pie_de_pagina .grupo-1 .box .red-social a{
    color: #201124;
    background-color: #cb85ddb4;
}
body.lightmode .pie_de_pagina .grupo-1 .box .red-social a:hover{
    color: #f8dffa;
}
body.lightmode .pie_de_pagina .grupo-2{
    background-color: #c771ddb4;
}
body.lightmode .pie_de_pagina .grupo-2 small{
    color: #070007;
}
body.lightmode .slider-body{
    background-color: #dfc6e4;
}
body.lightmode .cabecera2{
    background-color: #edd5f1;
}
body.lightmode .subtitle{
    color: #130014ce;
}
body.lightmode #slider-arrow1{
    color: #130014ce;
}
body.lightmode #slider-arrow2{
    color: #130014ce;
}
/*Fin sección LIGHT Mode*/


/*Responsive*/
@media (max-width:825px){
    .cabecera{
        width: 100%;
    }
    .hrP{
        display: none;
    }
    .hr1{
        max-width: 100%;
    }
    .titulo3{
        margin-left: 0.45em;
    }
    .contenido{
        width: 75%;
    }
    .video_index{
        width: 100%;
        height: 250px;
    }
    .contenedorA{
        max-width: 100%;
    }
    .cabecera2{
        max-width: 75%;
        background-color: transparent;
        margin: auto;
    }
    body.lightmode .cabecera2{
        background-color: transparent;
    }
    .card1{
        height: fit-content;
        margin: 15px;
    }
    .pCard{
        text-align:justify;
        max-width: 90%;
    }
    h4{
        margin-left: 0px;
        font-size: 19px;
    }
    p{
        font-size: 15px;
    }
    .logo{
        padding-top: 15px;
        width: 170px;
        height: 170px;
    }
    .checkbtn{
        display: block;
        right: 0.5em;
    }
    .navmenu{
        width: 100%;
    }
    .menu {
        position:fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background:rgb(183, 142, 216);
        text-align: center;
        flex-direction: column;
        display: none;
        opacity: 0;
        align-items: center;
    }
    .menu li{
        float: none;
        display: block; 
        margin: 30px 0;
        line-height: 20px;
    }
    .menu li a{
        font-size: 20px;
    }
    .submenu{
        background-color:rgb(160, 112, 190);
        width: 80%;
        height: 38%;
        left: 10%;
    }
    .submenu li{
        justify-content: right;
    }
    .submenu li a{
        font-size: 15px;
    }
    .menu li:hover .submenu{
        z-index: 2;
    }
    .switch{
        width: 100px; 
        height: 36px;
    }
    body.lightmode .menu{
        background-color: #e2b3e9;
    }
    .slider:before {
        height: 28px;
        width: 28px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(60px);
        -ms-transform: translateX(60px);
        transform: translateX(60px);
    }
    .pie_de_pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        height: 50%;
    }
    .pie_de_pagina .grupo-1 .box figure img{
        width: 250px;
    }
    .pie_de_pagina .grupo-1 p{
        max-width: 84%;
        font-size: 15px;
    }
    .slider-container{
        grid-template-columns: 25px 1fr 25px;
    }
    .slider-body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
    .slider_picture{
        grid-row: 1/2;
    }
    .slider-img{
        width: 180px;
        height: 180px;
    }
    #slider-arrow1, #slider-arrow2{
        width: 100%;
        font-size: 18px;
    }
    .containerS{
        overflow: visible;
        min-height: 100vh;
    }
    .subtitle{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .slider-review{
        font-size: 1rem;
        line-height: 1.6;
        margin-right: 0.7em;
    }

}
/*Fin resposive*/

/*Animaciones*/
@keyframes mostrarMenu{
    from{opacity:0;}
    to{opacity:1;}
}
.checkbtn.press{
    color: rgb(107, 55, 150);
}
.menu.activado{
    animation:mostrarMenu 350ms ease-in-out both;
    display: flex;
}