*{
    margin:0;
    padding: 0;
}

/*Estructura principal*/
body{
    background-color: #000000f3;
}
.enlace{
    position: absolute;
    float: left;
    margin-top: -6em;

}
.logo{
    float: left;
    width: 200px;
    height: 200px;
}
.hrP2{
    max-width: 76.5%;
}
/**Apartado de header y footer**/
.cabecera{
    background-image: url(https://media.giphy.com/media/6705G9I9sUcNCaJF10/giphy.gif);
    background-size: cover;
    width: 100%;
    height: 700px;
}
.cabecera2{
    background-image: url(https://a-static.besthdwallpaper.com/mountain-scenery-art-wallpaper-3000x2000-81095_42.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-bottom: 7px;
    border-color: #ffffff;
    border-style: solid;
}
header{
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 98%;
}
/**Fin apartado de header y footer**/

/**Titulos principales**/
.titulo{
    padding-top: 110px;
    padding-left: 0.7em;
    font-size: 7;
    color: antiquewhite;
}
.titulo2{
    padding-left: 0.7em;
    font-size: 7;
    color: antiquewhite;
}
/**Fin titulos principales**/
.navegacion{
    width: 100%;
    margin: 30px auto;
}

/**Apartadó menú principal**/
.navmenu{
    float: right;
}
.navmenu .menu{
    list-style: none;
    overflow: hidden;
    margin-right: 2em;
    margin-top: -1em;
}
.menu > li{
    float: left;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: "open sans";
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    border-radius:5px;
    background-color: rgb(60, 14, 87) ;
    transition: all .3s;
}

/*submenu*/
.submenu ul{
    margin-top: -1em;
}

.submenu{
    position: absolute;
    border-radius:5px;
    background: #333333 ;
    width: 150px;
    visibility: hidden;
    opacity: 80%;
    transition: opacity 1.5s;
    list-style: none;
}

.submenu li a{
    display: block;
    border-radius:5px;
    padding: 12px;
    color: rgb(255, 228, 228);
    font-family: "open sans";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/**Fin submenu**/
p{
    text-align:justify;
    font-size: 30px;
    color:  rgb(255, 255, 255);
    padding-left: 0.7em;
    max-width: 75%;
}

.contenido{
    width: 100%;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 0.5em;
}

.contenedorA{
    width: 100%;
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;   
}
.card1{
    width: 290px;
    height: 430px;
    border-radius: 9px;
    box-shadow: 0 2px, 2px rgb(0, 0, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: 0.25s;
}
#check{
    display:none;
}
.card1:hover{
    transform: translateY(-15px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411) ;
    background-color: #501e4cab;
}

.imgCard{
    width: 100%;
    height: 50%;
}
.pCard{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    max-width: 90%;
}
h4{
    font-size: 30px;
    color: antiquewhite;
}
a{
    font-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: antiquewhite;
}
a:hover{
    color: #30002c;
}
.checkbtn{
    font-size: 30px;
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    display: none;
    color: white;
    cursor: pointer;
}

/*Pie de pagina...*/
.pie_de_pagina{
    width: 100%;
    background-color: #1c0a1d;
}
.pie_de_pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    height: 200px;
}
.pie_de_pagina .grupo-1 .box figure{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie_de_pagina .grupo-1 .box figure img{
    width: 300px;
}
.pie_de_pagina .grupo-1 h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 1.3em;
}
.pie_de_pagina .grupo-1 p{
    color: #efefefef;
    font-size: 22px;
    padding-left: 1.3em;
    margin-bottom: 10px;
}
.pie_de_pagina .grupo-1 .red-social{
    padding-left: 1.6em;
}
.pie_de_pagina .grupo-1 .red-social a{
    display: inline-block;
    border-radius: 2px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #962e8d6e;
    text-align: center;
}
.pie_de_pagina .grupo-2 {
    background-color: #130014;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
} 

/*Fin pie de pagina.*/


/*Responsive*/
@media (max-width:825px){
    .cabecera{
        width: 100%;
    }
    .hrP{
        display: none;
    }
    .hrP2{
        max-width: 100%;
    }
    .cabecera2{
        width: 100%;
    }
    .contenido{
        width: 95%;
    }
    .video_index{
        width: 100%;
        height: 250px;
    }
    .contenedorA{
        max-width: 100%;
    }
    .card1{
        width: 410px;
        height: 410px;
    }
    .pCard{
        text-align:justify;
        max-width: 90%;
    }
    h4{
        font-size: 19px;
    }
    p{
        font-size: 15px;
        max-width: 95%;

    }
    .logo{
        padding-top: 15px;
        width: 170px;
        height: 170px;
    }
    .checkbtn{
        display: block;
        right: 0.5em;
    }
    .navmenu{
        width: 100%;
    }
    .menu {
        position:fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background:rgb(107, 55, 150);
        text-align: center;
        flex-direction: column;
        display: none;
        opacity: 0;
    }
    .menu li{
        float: none;
        display: block; 
        margin: 30px 0;
        line-height: 20px;
    }
    .menu li a{
        font-size: 20px;
    }
    .submenu{
        background-color:rgb(100, 20, 150);
        width: 80%;
        height: 100%;
        left: 10%;
    }
    .submenu li{
        justify-content: right;
    }
    .submenu li a{
        padding: 10px;
        font-size: 15px;
    }
    .pie_de_pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        height: 50%;
    }
    .pie_de_pagina .grupo-1 .box figure img{
        width: 250px;
    }
    .pie_de_pagina .grupo-1 p{
        max-width: 84%;
        font-size: 15px;
    }
}

/*Animaciones*/
@keyframes mostrarMenu{
    from{opacity:0;}
    to{opacity:1;}
}
.checkbtn.ñe{
    color: rgb(107, 55, 150);
}
.menu.activado{
    animation:mostrarMenu 350ms ease-in-out both;
    display: flex;
}