*{
    margin:0;
    padding: 0;
}

body{
    background-color: #000000f3;
    width: 100%;
    height: 100%;
}
.enlace{
    position: absolute;
    float: left;
    margin-top: -6em;

}
.logo{
    float: left;
    width: 200px;
    height: 200px;
}
.cabecera{
    background-image: url(https://media.giphy.com/media/6705G9I9sUcNCaJF10/giphy.gif);
    background-size: cover;
    width: 100%;
    height: 700px;
}
.cabecera2{
    background-image: url(https://images7.alphacoders.com/333/333580.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-bottom: 7px;
    border-color: #ffffff;
    border-style: solid;
}
header{
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 98%;
}
.titulo{
    padding-top: 110px;
    padding-left: 0.5em;
    font-size: 7;
    color: antiquewhite;
}
.titulo2{
    padding-left: 0.5em;
    font-size: 7;
    color: antiquewhite;
}

.navegacion{
    width: 1500px;
    margin: 30px auto;
}
.navmenu{
    float: right;
}
.navmenu ul{
    list-style: none;
    overflow: hidden;
    margin-top: -1em;
    margin-right: 2em;
}
.menu > li{
    float: left;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: "open sans";
    text-decoration: none;
}

li a.active, li a:hover{
    border-radius:5px;
    background-color: rgb(60, 14, 87) ;
    transition: all .3s;
}

/*Submenu*/

.submenu{
    position: absolute;
    border-radius:5px;
    background: #333333 ;
    width: 150px;
    visibility: hidden;
    opacity: 80%;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    border-radius:5px;
    padding: 12px;
    color: rgb(255, 228, 228);
    font-family: "open sans";
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/*Fin submenu*/

/*Contenido principal*/
p{
    text-align:justify;
    font-size: 30px;
    color:  rgb(255, 255, 255);
}

.contenido{
    width: 75%;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.contenedorA{
    width: 100%;
    max-width: 70%;
    display:flex;
    flex-wrap: wrap;
    
}
.card1{
    width: 330px;
    height: 430px;
    border-radius: 9px;
    box-shadow: 0 2px, 2px rgb(0, 0, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: 0.25s;

}
#check{
    display:none;
}
.card1:hover{
    transform: translateY(-15px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.411) ;
}

.imgCard{
    width: 320px;
    height: 220px;
}
.pCard{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
h4{
    font-size: 30px;
    color: antiquewhite;
}
a{
    font-style: none;
}
.checkbtn{
    font-size: 30px;
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    display: none;
    color: white;
    cursor: pointer;
    

}

@media (max-width:825px){
    .cabecera{
        width: 200%;
    }
    .hrP{
        display: none;
    }
    .cabecera2{
        width: 200%;
    }
    .contenido{
        width: 150%;
    }
    p{
        font-size: 15px;
    }
    .checkbtn{
        display: block;
    }
    .menu {
        position:fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background:rgb(107, 55, 150);
        text-align: center;
        flex-direction: column;
        display: none;
    }
    .menu li{
        float: none;
        display: block; 
        margin: 30px 0;
        line-height: 30px;
    }
    .menu li a{
        padding: 16px;
        text-transform: uppercase;
        font-size: 20px;
    }
    .submenu{
        width: 100%;
    }
}
.menu.activado{
    display: flex;
}
